# gettting the unit cell parameters

In [22]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import re
%matplotlib inline
%config InlineBackend.figure_format='retina'

from pandas_profiling import ProfileReport

In [23]:
PATH = os.getcwd()

path_c1 = os.path.join(PATH, "\xdatcar_1")

print(path_c1)

C:\Users\sweet\Documents\GitHub\MLFYP\xdatcar1 online single\Útcar_1

In [24]:
boxes = []

file = open('xdatcar_1')
content = file.readlines()

print(content[100])

   0.29682383  0.25109082  0.34797305

In [25]:
boxes = []
cell = [0]*3

for line in range(2, 19972, 104):
    this_content = content[line]
    for i in range(3):
        cell[i] = content[line + i]
        a = re.findall("\d+\.\d+", cell[i]) #this removes minus signs so actually useless for this
        boxes.append(a)
        
print(boxes[:6])
print(len(boxes))

[['5.660211', '0.000000', '0.001213'], ['0.000000', '5.640848', '0.000000'], ['0.008982', '0.000000', '40.815667'], ['5.558019', '0.000000', '0.003710'], ['0.000000', '5.538005', '0.000000'], ['0.026855', '0.000000', '40.675279']]
579

In [26]:
w, h = 193, 9
boxo = [[0 for x in range(h)] for y in range(w)]


for x in range(len(boxo)):
    #print(x)
    for y in range(3):
        boxo[x][y] = boxes[x*3][y]
        boxo[x][y+3] = boxes[(x*3+1)][y]
        boxo[x][y+6] = boxes[(x*3+2)][y]
        
df = pd.DataFrame(boxo)

In [27]:
df

,0,1,2,3,4,5,6,7,8
0,5.660211,0.000000,0.001213,0.000000,5.640848,0.000000,0.008982,0.000000,40.815667
1,5.558019,0.000000,0.003710,0.000000,5.538005,0.000000,0.026855,0.000000,40.675279
2,5.529671,0.000000,0.003592,0.000000,5.513060,0.000000,0.025776,0.000000,40.797038
3,5.516743,0.000000,0.003332,0.000000,5.502265,0.000000,0.023739,0.000000,40.895221
4,5.524379,0.000000,0.003255,0.000000,5.510483,0.000000,0.023309,0.000000,40.935798
...,...,...,...,...,...,...,...,...,...
188,5.474666,0.000000,0.017426,0.000000,5.470002,0.000000,0.138191,0.000000,41.715659
189,5.474602,0.000000,0.017427,0.000000,5.469945,0.000000,0.138204,0.000000,41.714004
190,5.475106,0.000000,0.017439,0.000000,5.470455,0.000000,0.138303,0.000000,41.714342
191,5.474941,0.000000,0.017430,0.000000,5.470283,0.000000,0.138229,0.000000,41.713849
192,5.474941,0.000000,0.017430,0.000000,5.470283,0.000000,0.138229,0.000000,41.713849

In [28]:
col = ['xx','xy','xz','yx','yy','yz','zx','zy','zz']

i=0
ind = []*100
for i in range(len(boxo)):
    ind.append("c1-box" + str(i))

In [29]:
df.columns = col
df.index = ind

In [30]:
df

,xx,xy,xz,yx,yy,yz,zx,zy,zz
c1-box0,5.660211,0.000000,0.001213,0.000000,5.640848,0.000000,0.008982,0.000000,40.815667
c1-box1,5.558019,0.000000,0.003710,0.000000,5.538005,0.000000,0.026855,0.000000,40.675279
c1-box2,5.529671,0.000000,0.003592,0.000000,5.513060,0.000000,0.025776,0.000000,40.797038
c1-box3,5.516743,0.000000,0.003332,0.000000,5.502265,0.000000,0.023739,0.000000,40.895221
c1-box4,5.524379,0.000000,0.003255,0.000000,5.510483,0.000000,0.023309,0.000000,40.935798
...,...,...,...,...,...,...,...,...,...
c1-box188,5.474666,0.000000,0.017426,0.000000,5.470002,0.000000,0.138191,0.000000,41.715659
c1-box189,5.474602,0.000000,0.017427,0.000000,5.469945,0.000000,0.138204,0.000000,41.714004
c1-box190,5.475106,0.000000,0.017439,0.000000,5.470455,0.000000,0.138303,0.000000,41.714342
c1-box191,5.474941,0.000000,0.017430,0.000000,5.470283,0.000000,0.138229,0.000000,41.713849
c1-box192,5.474941,0.000000,0.017430,0.000000,5.470283,0.000000,0.138229,0.000000,41.713849

In [31]:
file = open('xdatcar_1')
content = file.readlines()

print(content[100])

   0.29682383  0.25109082  0.34797305

In [32]:
#adding positions Bi
coords_Bi = []
cell = [0]*20

for line in range(8, 19995, 104):
    this_content = content[line]
    for i in range(20):
        cell[i] = content[line + i]
        a = re.findall("\d+\.\d+", cell[i])
        coords_Bi.append(a)
        
print(coords_Bi[:6])
print(len(coords_Bi))

[['0.24484409', '0.23757862', '0.00000000'], ['0.74484408', '0.76242137', '0.00000000'], ['0.24484409', '0.73757863', '0.50000000'], ['0.74484408', '0.26242140', '0.50000000'], ['0.25198972', '0.24830766', '0.10393570'], ['0.75198966', '0.75169236', '0.89606434']]
3860

In [44]:
coords_Bi[3859]

['0.21915369', '0.77749723', '0.28005764']

In [41]:
w, h = 193, 60
boxo = [[0 for x in range(h)] for y in range(w)]

#print(boxo)
for x in range(len(boxo)):
    #print(x)
    for y in range(3):
        #print(y)
        boxo[x][y] = coords_Bi[x*20][y]
        boxo[x][y+3] = coords_Bi[(x*20+1)][y]
        boxo[x][y+6] = coords_Bi[(x*20+2)][y]
     
        
df_Bi = pd.DataFrame(boxo)

In [51]:
df_Bi

,0,1,2,3,4,5,6,7,8,9,...,50,51,52,53,54,55,56,57,58,59
0,0.24484409,0.23757862,0.00000000,0.74484408,0.76242137,0.00000000,0.24484409,0.73757863,0.50000000,0,...,0,0,0,0,0,0,0,0,0,0
1,0.24613707,0.23877287,0.00028253,0.74613705,0.76122712,0.00028253,0.24613707,0.73877288,0.50028253,0,...,0,0,0,0,0,0,0,0,0,0
2,0.24558785,0.23944279,0.00057970,0.74558783,0.76055719,0.00057970,0.24558785,0.73944281,0.49942030,0,...,0,0,0,0,0,0,0,0,0,0
3,0.24552636,0.23993490,0.00136082,0.74552634,0.76006508,0.00136082,0.24552636,0.73993492,0.49863918,0,...,0,0,0,0,0,0,0,0,0,0
4,0.24552158,0.24023190,0.00176767,0.74552156,0.75976809,0.00176767,0.24552158,0.74023191,0.49823233,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188,0.25627317,0.24467137,0.00077250,0.75627315,0.75532861,0.00077250,0.25627317,0.74467139,0.49922750,0,...,0,0,0,0,0,0,0,0,0,0
189,0.25624567,0.24467606,0.00076789,0.75624566,0.75532392,0.00076789,0.25624567,0.74467608,0.49923211,0,...,0,0,0,0,0,0,0,0,0,0
190,0.25624536,0.24467630,0.00076804,0.75624534,0.75532369,0.00076804,0.25624536,0.74467631,0.49923196,0,...,0,0,0,0,0,0,0,0,0,0
191,0.25622964,0.24467893,0.00076728,0.75622963,0.75532106,0.00076728,0.25622964,0.74467894,0.49923272,0,...,0,0,0,0,0,0,0,0,0,0
192,0.25622209,0.24467919,0.00076572,0.75622207,0.75532080,0.00076572,0.25622209,0.74467920,0.49923428,0,...,0,0,0,0,0,0,0,0,0,0

In [143]:
coords_Ti = []
cell = [0]*95

for line in range(29, 19995, 104):
    this_content = content[line]
    for i in range(12):
        cell[i] = content[line + i]
        a = re.findall("\d+\.\d+", cell[i])
        coords_Ti.append(a)
        
print(coords_Ti[:6])
print(len(coords_Ti))

[['0.29682383', '0.75109082', '0.15202695'], ['0.79682386', '0.74890918', '0.65202695'], ['0.79682386', '0.24890919', '0.15202695'], ['0.29357013', '0.24638395', '0.45064172'], ['0.29357013', '0.74638396', '0.95064175'], ['0.79357010', '0.75361604', '0.45064172']]
2304

In [144]:
coords_Ti[2303]

['0.32894067', '0.16978923', '0.50244720']

In [145]:
coords_Fe = []
cell = [0]*95

for line in range(100, 20071, 104):
    this_content = content[line]
    for i in range(4):
        cell[i] = content[line + i]
        a = re.findall("\d+\.\d+", cell[i])
        coords_Fe.append(a)
        
print(coords_Fe[:6])
print(len(coords_Fe))

[['0.29682383', '0.25109082', '0.34797305'], ['0.29682383', '0.75109082', '0.84797305'], ['0.79682386', '0.74890918', '0.34797305'], ['0.79682386', '0.24890919', '0.84797305'], ['0.29639968', '0.25014909', '0.34665647'], ['0.29639968', '0.75014909', '0.84665647']]
772

In [146]:
coords_Fe[771]

['0.78424286', '0.26148107', '0.84368547']

In [147]:
#now I want to reshape all of these to 1d matricies and or get the potentials

In [148]:
#the feature vectors are created based off 11 parameters mentioned in the pseudopotential
pot = pd.read_csv('..\potparam.csv')

pot

     element        Fe         O        Ti        Bi
0      EATOM  594.3253  432.3788   94.7928  150.8133
1     RPACOR    2.0000    0.0000    2.2000    2.2000
2      RCORE    2.3000    1.5200    2.8000    3.0000
3   RWIGSMAX    2.4600    1.5500    2.5000    3.0900
4   RWIGSMIN    1.3020    0.8200    1.3230    1.6350
5      ENMAX  267.8820  400.0000  178.3300  105.0370
6      ENMIN  200.9110  300.0000  133.7470   78.7770
7       EAUG  511.3680  605.3920  328.8830  265.4270
8       RMAX    2.3560    2.2640    2.8680    3.0670
9       RDEP    2.4420    1.5500    2.8850    3.0120
10     LDAUU    4.5000    0.0000    4.5000    0.0000

In [149]:
#creating an array for every row in the table abobe

In [150]:
#remove LDAUU
pot = pot.drop(10, axis = 0)
pot

    element        Fe         O        Ti        Bi
0     EATOM  594.3253  432.3788   94.7928  150.8133
1    RPACOR    2.0000    0.0000    2.2000    2.2000
2     RCORE    2.3000    1.5200    2.8000    3.0000
3  RWIGSMAX    2.4600    1.5500    2.5000    3.0900
4  RWIGSMIN    1.3020    0.8200    1.3230    1.6350
5     ENMAX  267.8820  400.0000  178.3300  105.0370
6     ENMIN  200.9110  300.0000  133.7470   78.7770
7      EAUG  511.3680  605.3920  328.8830  265.4270
8      RMAX    2.3560    2.2640    2.8680    3.0670
9      RDEP    2.4420    1.5500    2.8850    3.0120

In [151]:
pot_name= np.array(pot.iloc[:,0])
pot_Fe= np.array(pot.iloc[:,1])
pot_O= np.array(pot.iloc[:,2])
pot_Ti= np.array(pot.iloc[:,3])
pot_Bi= np.array(pot.iloc[:,4])

print(pot_name)
print(pot_Fe)

['EATOM' 'RPACOR' 'RCORE' 'RWIGSMAX' 'RWIGSMIN' 'ENMAX' 'ENMIN' 'EAUG'
 'RMAX' 'RDEP']
[594.3253   2.       2.3      2.46     1.302  267.882  200.911  511.368
   2.356    2.442 ]

UFuncTypeError: ufunc 'multiply' did not contain a loop with signature matching types (dtype('<U32'), dtype('<U32')) -> dtype('<U32')

In [ ]:
df.to_csv('xdatcarbox_1.csv', index = False)

## now i want to turn these into dataframe that are betterer

In [ ]:
# copy paste above but change values for each 10 xdatcar

In [ ]:
def read_from_file(filename, width, start, end, skip):
    file = open(filename)
    content = file.readlines()
    
    boxen = []
    cell = [0]*width

    for line in range(start, end, skip):
        this_content = content[line]
        for i in range(width):
            cell[i] = content[line + i]
            a = re.findall("\d+\.\d+", cell[i])
            boxen.append(a)
        
    return boxen

In [ ]:
a = "xdatcar_1"
read_from_file(a ,3,2,19972,104)
len(boxen)

In [ ]:
def reshaping(rows, cols, boxes):

    boxo = [[0 for x in range(cols)] for y in range(rows)]


    for x in range(rows):
        print(x)
        for y in range(3):
            boxo[x][y] = boxes[x*3][y]
            boxo[x][y+3] = boxes[(x*3+1)][y]
            boxo[x][y+6] = boxes[(x*3+2)][y]
        
    df = pd.DataFrame(boxo)
    
    return df

In [ ]:
b = "xdatcar_2"
read_from_file(b ,3,2,20284,104)
len(boxen)
boxen
#reshaping(195, 9, boxes)

# back to our regularly scheduled programming